{% extends "index.html" %}

{% block content %}
<!-- Categroy Section -->

<!-- end category section -->
<!-- Footer 2 - Bootstrap Brain Component -->

<div style="height:550px; padding-top: 20px;">

    <div class="container">
        <h3>All Items</h3>
        <br>
        <div class="row">

            {% for item in item_list %}

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{item.item_image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.item_name}}</h5>
                        <p class="card-text">{{item.category_description}}</p>
                        <p class="card-text">Rs. {{item.item_price}} </p>
                        <a href="/item_details/?item_id={{item.id}}" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


</div>
{% endblock content %}