{% extends "index.html" %}

{% block content %}
<!-- Categroy Section -->

<!-- end category section -->
<!-- Footer 2 - Bootstrap Brain Component -->

<div style="padding-top: 20px;">

    <div class="container " style="width:30% !important">
        <h3>Cart Items</h3>
        <br>
        {% for cart in cart_list %}
        <div class="row">

        <div class="col-4">
            <div >
                <img src="{{cart.item.item_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{cart.item.item_name}}</h5>

                </div>
            </div>
        </div>

            <div class="col-6">
                <div >
                   
                    <div class="card-body">
                        <p class="card-text"> Price per unit: Rs. {{cart.item.item_price}} </p>
                        <p class="card-text">Qty: {{cart.quantity}} </p>
                        <h6 class="card-text">Sub-Total: Rs. {{cart.amount}} </h6>
                
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div>
            <a class="nav-link" id="cart" href="/delete_cart/?cart_id={{cart.id}}">
                <i class='fa fa-trash' style='font-size:48px;color:red'></i> <span style="color:red" > Remove </span>
            </a>
                </div>
            </div>
       
        </div>
        <hr/>
        {% endfor %}

        <di class="row">
            <div class="col-6">
<h5>Total Amount: Rs.{{total_amount}}/- Only.</h5>
            </div>
        <div class="col-6">
<a style="margin-bottom: 10px;padding: 5px;" class="nav-link btn btn-success" id="cart" href="/shipping_address">
    <b style="color: white; padding: 5px;"> Placed Order</b>
</a>
        </div>
        </di>

    </div>


</div>
{% endblock content %}