{% extends "index.html" %}

{% block content %}
<div class="container" style="height: 500px;">


    <form method="POST" action="/login_handler/">

        {% csrf_token %}
    <br>

        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    <br>
    <br>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password"  name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
<br>
<br>
    <a class="btn btn-success" href="/sign_up"><i class="fa fa-user"></i> Sign Up </a>
</div>
{% endblock content %}